.jumbotron{
    padding: 10px;
    color: white;
    background-color: #333;
    border-radius: 0;
}

.jumbotron h1 i {
    font-weight: bold;
}

#splash { 
    /* this is relating to the splash page */
    background-image: url("../images/fans.jpg");
    background-size: 100%;

}
#banner{
    align-content: center;
}
#jumbo-style{
    background-color: black;
    opacity:.7;
    text-align: center;
}

#getstartedbox{
    text-align: center;
    align-content: center;
    height: 30%;
    width: 30%;
    background-color: antiquewhite;
}

.modal-header, .modal-title, .modal-footer, .modal-body{
 
}