.jumbotron{
    padding: 10px;
    color: white;
    background-color: #333;
    border-radius: 0;
    border-bottom: 4px solid white;
    margin-bottom: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #333;
}

.jumbotron h1 i {
    font-weight: bold;
}

.artist-form {
    margin-top: 8px;
}

.main-body {
    position: relative;
    height: 100vh;
    background-color: #333;
    color: white;
}

.main-body .search-results {
    border-right: 4px solid white;
}

#splash { 
    /* this is relating to the splash page */
    background-image: url("../images/fans.jpg");
    background-size: 100%;

}
#locate-button{
    /* this is so the locate button doesn't have the nasty button border */
padding: 0;
border: none;
background: none;
}
#banner{
    align-content: center;
}
#jumbo-style{
    background-color: black;
    opacity:.7;
    text-align: center;
}

#getstartedbox{
    text-align: center;
    align-content: center;
    height: 30%;
    width: 30%;
    background-color: antiquewhite;
}

/* .modal-header, .modal-title, .modal-footer, .modal-body{
 
} */
#map {
    height: 90%;
  }

  .map-results {
      padding-left: 0px;
  };
 
  
  /* Optional: Makes the sample page fill the window. */

#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }

  #right-panel select, #right-panel input {
    font-size: 15px;
  }

  #right-panel select {
    width: 100%;
  }

  #right-panel i {
    font-size: 12px;
  }
  #right-panel {
    height: 100%;
    float: right;
    width: 350px;
    overflow: auto;
  } 

  .wc-content {
      color: black;
  }

  .wc-title {
      /* color: black; */
      text-decoration: underline;
  }
  .wc-image {
      border-radius: 50%;
  }

  .res-row {
      border-bottom: 2px solid white;
      min-height: 50px;
      
  }

  #myModal button.close {
      display: none;
  }